@import "../../common/colors.scss";

.login{
    margin-top: 70px;
    margin-bottom: 70px;
    padding: 3% 10%;
    color: $font-primary;
    .login-btn{
        margin: 20px 50px 10px 0px;
        font-size: 20px;
    }
    .register-btn{
        margin: 20px 0px 10px 0px;
        font-size: 20px;
    }
}