@import "../../common/colors.scss";



.navbar{
    height: 90px;
    background-color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    padding: 0 8%;
}

.navbar-brand{
    color: $font-primary;
    font-size: 40px;
    font-weight: 600;
    height: 90px;
  }
  
.nav-item{
    padding: 0 18px;
}
  
.nav-link{
    font-size: 22px;
    font-weight: 600;
    font-family: "Montserrat";
    color: white;
    &:hover{
        color: black;
    }
}

.navbar-toggler{
    color: white;
}

.navbar-collapse{
    background-color: $primary-color;
}

.user-image, .user-image img{
    height: 38px;
    width: 38px;
}

