@import '../../../common/colors.scss';

.average-score{
    border-left: 1px solid #eaeaea;
    padding-left: 7%;
    line-height: 2rem;
}

.score{
    font-size:large;
}

.star-score{
    margin-top: 1rem;
}

.score-large{
    font-size: 40px;
}