@import "../../common/colors.scss";

.footer{
    background: white;
    color: $font-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5% 15%;
    i{
        margin: 0 20px;
    }
}

.footer a{
    color: $font-primary;
}

.footer div{
    padding: 5px;
}