@import "../../common/colors.scss";

.food-list, .show-list{
    margin:20px 0px;
    h2{
        color:$font-primary;
        margin-bottom: 30px;
        font-weight: 500;
    }
}

.food-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 15px;
}

.food-wrapper{
    padding: 2% 9%;
}