@import "../../common/colors.scss";

.detail-page{
  padding: 0% 12%;
}

.food-title{
  margin-top: 6rem;
  color: $font-primary;
}

.food-section {
    display: flex;
    justify-content: space-between;
    color: $font-primary;
    font-weight: 400;
    margin-top: 20px;
    h1{
      font-size: 40px;
      color: $font-primary;
    }
  }
  

  .food-rating {
    padding-left: 3px;
    color: $font-secondary;
    display: flex;
    span {
      margin-right: 20px;
    }
  }
  
  .section-left {
    margin-right: 30px;
  }

  .food-card{
    cursor: pointer;
    margin: 10px;
    max-height: 400px;
    width: 300px;
}

.top-pic{
  background-color: white;
  height: auto;
  width: auto;
  padding: 8%;
  display: flex;
  justify-content: center;
}

.section-middle{
    width: 40%;
    line-height: 1.5rem;
}
  
  .food-info > div span:first-child {
    padding: 10px 0px;
    color: $font-primary;
    font-weight: 600;
    width: 100px;
    display: inline-block;
  }
  
  .food-info > div span {
    color: $font-secondary;
  }
  
  
.section-right{
    .btn{
      font-size: 18px;
    }
}

.section-bottom{
  padding: 2% 0%;
  color: $font-primary;
  margin: 30px 10px;
  .btn{
    font-size: 18px;
  }
}

.rate-food{
    margin-bottom: 30px;
}

.other-rates{
    
}