@import "../../common/colors.scss";
 

.food-section {
    display: flex;
    justify-content: space-between;
    padding: 10% 10% 3%;
    color: $font-primary;
    font-weight: 400;
    h1{
      font-size: 40px;
      color: $font-primary;
    }
  }
  

  .food-rating {
    padding-left: 3px;
    margin-top: 50px;
    color: $font-secondary;
    display: flex;
    span {
      margin-right: 20px;
    }
  }
  
  .section-left {
    margin-right: 30px;
  }

  .food-card{
    cursor: pointer;
    min-height: 300px;
    margin: 10px;
}

.top-pic{
  height: 300px;
  display: flex;
}

.section-middle{
    width: 40%;
}
  
  .food-plot {
    margin-top: 20px;
    line-height: 1.8rem;
  }
  
  .food-info > div span:first-child {
    padding: 10px 0px;
    color: $font-primary;
    font-weight: 600;
    width: 100px;
    display: inline-block;
  }
  
  .food-info > div span {
    color: $font-secondary;
  }
  
  
.section-right{
    margin-top: 60px;
    .btn{
      font-size: 18px;
    }
}

.section-bottom{
  padding: 0 10%;
  color: $font-primary;
  margin: 10px;
  .btn{
    font-size: 18px;
  }
}

.rate-food{
    margin-bottom: 20px;
}

.other-rates{
    
}