@import "../src/common/colors.scss";

//add an universal style
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

// so that there will be no __ under my anchors
a{
    text-decoration: none;
    color: $font-primary;
}

body{
    color: azure;
    background-color: #F8F8F8;
}

.container{
    padding: 2% 3%;
}