@import "../../common/colors.scss";

.register{
    margin-top: 70px;
    margin-bottom: 70px;
    padding: 3% 10%;
    color: $font-primary;
}

.card-body{
    button{
        margin: 20px 0px 10px;
        font-size: 20px;
    }
    .register-btn{
        margin-right: 50px;
    }
}